.board {
  flex-grow: 5;
  padding: 2vh 0;
}

.board-row {
  display: flex;
  justify-content: center;
}

.tile {
  border: 0.15vh solid var(--grey);
  border-radius: 0.25vh;
  color: var(--white);
  /* flex-grow: 1; */
  font-size: 4vh;
  font-weight: bold;
  margin: 0.5vh;
  padding: 1.5vh;
  text-align: center;
}

.nearly {
  background-color: var(--yellow);
  border: 0.15vh solid var(--yellow);
}

.correct {
  background-color: var(--green);
  border: 0.15vh solid var(--green);
}