.header {
  align-items: center;
  color: var(--blue);
  display: flex;
  padding: 2vh;
  text-align: center;
}

h1 {
  color: white;
  flex-grow: 1;
  font-size: 4vh;
}

.header-button {
  background-color: var(--background);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 4vh;
  padding: 0.25vh 1vh 0 1vh;
}

.header-button:hover, .header-button:active {
  color: var(--blue);
}