@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
  --blue: #61dafb;
  --dark: #282c34;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Fredoka', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}